<div id="main-playboard">
    
    <!-- main menu -->
    <div id="game-menu" class="">
        <div id="game-ded ">
            <img src="../../assets/img/sprites/tombstone.png">
            
            <div id="game-ded-text">
            </div>
            
            <div id="play-again-btn" (click)="restartGame()" class="main-menu-item button button-3d-arcadia button-pill button-jumbo"> play</div>
            <br><br><br>
            <div id="play-again-btn" routerLink="/" class="main-menu-item button button-3d-grenadine button-pill button-jumbo"> go back</div>
        </div>
    </div>
</div>