<div id="main-menu-container" (window:resize)="onResize($event)">
  <div class="main-menu-item button button-3d-babyblu button-pill button-jumbo"><fa name="play"></fa>play</div>
  <div class="main-menu-item button button-3d-arcadia button-pill button-jumbo" routerLink="/profile"><fa name="user" ></fa>profile</div>
  <div class="main-menu-item button button-3d-action button-pill button-jumbo" (click)="linkTwitter()" ><fa name="twitter-square"></fa>twitter</div>
  <div class="main-menu-item button button-3d-sun button-pill button-jumbo" (click)="linkGithub()"><fa name="github"></fa>github</div>
  <div class="main-menu-item button button-3d-grenadine button-pill button-jumbo" routerLink="/tech"><fa name="cogs"></fa>tech</div>
</div>
<div id="menu-collapser" (click)="collapseClick($event)" class="menu-collapser button button-3d button-circle button-jumbo"><fa name="times-circle" ></fa></div>
<div id="menu-extender" (click)="expandClick($event)" class="menu-collapser button button-3d button-circle button-jumbo"><fa name="bars" ></fa></div>

