/* THIS BE THE MAIN CSS FOR MAIN MENU, YO */


div#main-title-screen{
    position: absolute;
    font-family: 'cc_regular_alert', sans-serif;
    font-size: 4em;
    color: #fff;
    text-shadow: 2px 2px #000;
    left: 50%;
    transform: translate(0, 150px);
}


div#main-title-screen > p{
    position: relative;
    left: -50%;
    z-index: 50;
}


div#main-menu-container{
    margin: 3em 0 0 0;
    position: relative;
    display: block;
    animation: fadein 300ms;
    text-align: center;
    transition: cubic-bezier(1, 0, 0, 1) 300ms;
    z-index: 103;
}

div#main-menu-container:hover{
    cursor: pointer;
}

div.main-menu-item{
    display: inline-block;
    animation: bounce 2s infinite;
    line-height: 4em;
    height: 4em;
}

div.main-menu-item:first-child{
    border-radius: 2em 0 0 2em;
}

div.main-menu-item:last-child{
    border-radius: 0 2em 2em 0;
}


div#menu-extender{
    display: none;
    position: absolute;
    right: 0;
    margin: 3em 3em 0 0;
    padding: 0;
    text-align: center;
    transition: cubic-bezier(1, 0, 0, 1) 300ms;
    z-index: 100;
    border-radius: 1em;
    width: 2.5em;
    animation: fadein 300ms;
}


div#menu-collapser{
    display: none;
    position: relative;
    margin: 1em 1em 0.6em 1em;
    right: 0;
    padding: 0;
    text-align: center;
    transition: cubic-bezier(1, 0, 0, 1) 300ms;
    z-index: 103;
    animation: fadein 300ms;
}

a.no-deco {
    text-decoration: none;
    color: #fff;
}


/* MOBILE DISPLAYS, L*/
@media screen and (max-width: 791px) {

    div#main-menu-container{
        animation: none;
        display: none;
    }

    div.main-menu-item{
        height: 2em;
        line-height: 2em;
        margin: 1em 1em 0.6em 1em;
        display: block;
    }

    div.main-menu-item:first-child{
        border-radius: 0;
    }
    
    div.main-menu-item:last-child{
        border-radius: 0;
    }


    div#menu-extender {
        display: block;
    }

}


/* General rules */

.show{
    display: block !important;
}

.hide{
    display: none !important;
}

/* ANIMATIONS */
/* Fade in animation */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes bounce {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 0.3em;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes zoomin {
    from { transform: translate(0, 0) }
    to { transform: translate(0, 150px)}
}