<div class="fragment">

  <div class="close-box" routerLink="/"><fa name="times-circle" style="font-size: 2em;" ></fa></div>
  <div id="text-box-paul">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales tortor hendrerit nisi sagittis pharetra. Nullam porttitor, elit vitae tincidunt tincidunt, ex metus cursus leo, sit amet cursus purus dui a justo. Nullam dui mauris, pharetra a dignissim ut, placerat et lectus. Donec eros augue, convallis ac nulla non, pellentesque laoreet odio. Praesent et sem ut nulla rutrum tincidunt a at ligula. Nullam id risus id eros bibendum pharetra aliquet et sapien. Vestibulum at felis vitae massa scelerisque vehicula. Phasellus facilisis urna vitae placerat dignissim. Quisque a nisl eget tortor gravida aliquam. Nulla sit amet pretium erat. Fusce vehicula risus sed metus malesuada elementum. 
  </div>


</div>
