<div class="fragment">

  <div class="close-box" routerLink="/"><fa name="times-circle" style="font-size: 3em;" ></fa></div>
  <div id="text-box-paul">
      Hi.<br>
      <br>
      I am Paul. <br>
      I work as a Developer. <br>
      <br>
      <u>Tech I like</u><br>
      Java <br>ECMAScript<br>TypeScript <br>CSS <br><br>

      ... and many more. <br><br>

      <u>Free time</u> <br>
      KDE-fan. 

      <br><br>

      <u>Contact</u><br>
      Want to stay in touch? You can reach me under <b>paul [at] paul.wiki</b>. <br><br>



      <p class="fine-print">
        <a routerLink="/tech">Open Source licenses</a>
      </p>
  </div>


</div>
